/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,800;1,200&display=swap');
/* font-family: 'Fira Sans', sans-serif; */
 

/* General styling */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Fira Sans', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

ul {
    list-style-type: none;
    padding: 0;
}

a{
    text-decoration: none;
}

/* Btn class for buttons and links styled as buttons */
.btn {
    display: block;
    padding: 0.5rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    margin-top: 2rem;
    background-color: rgb(212, 155, 49);
    border: none;
    border-radius: 5px;
    transition: text-shadow, background-color, transform 1s ease;
    letter-spacing: 3px;
    width: 70%;
    height: 4%;
}

.btn:hover{
    background-color:  rgb(241, 160, 9);
    transform: scale(1.1);
    text-shadow: 0 0 5px rgb(184, 135, 45);
}

/* Dark colored headers */
.h-dark {
color: #1D293C;
}

/* Underline needed elements */
.underlined{
    border-bottom: solid 1.2px rgb(241, 160, 9);
    margin-top: 3px;
    width: 115%;
}


/* Navigation bar styling */
.nav-container{
    width: 100%;
    background: transparent;
    font-size: 1.2rem;
}

/* Separate social media icons and links */
.list-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

/* Group-one - links */
#group-one{
    margin: 1rem 0 0 2rem;
    display: flex;
    padding: 1rem;
}
/* Group-two - social media icons */
#group-two{
    margin: 1rem 2rem 0 0;
    display: flex;
    padding: 1rem;
}

#group-one li a, #group-two li a, #group-one li button{
    margin: 5px;
    color: #fff;
    transition: all 0.5s ease;
    position: relative;
}

/* Setting the line ::after (needed for underline animation) */
#group-one li a::after{
    content: '';
    display: block;
    width: 0;
    position: absolute;
    transition: width 0.5s ease;
}

/* Hovering ::after (needed for underline animation) */
#group-one li a:hover::after {
   border-bottom: solid 3px rgb(241, 160, 9);
    margin-top: 3px;
    width: 115%;
}


#group-two li a:hover{
    color: rgb(241, 160, 9);
}

#group-one li button {
    transition: all 1s ease;
    border: none;
    background: transparent;
    font-size: 16px;
    margin-bottom: 5px;
    translate: hover 1s ease;
}



#group-one li button:hover {
   transform: scale(1.2);
   color: rgb(241, 160, 9);
}

#group-one li button:focus {
outline: none;
}
.nav-container{
    width: 100%;
    background: transparent;
    font-size: 1.2rem;
}




/* Setting modal and it's styling */
.modal-container{
    display: none;  /* hide modal initially */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-container.show-modal {
    display:block;
}

.modal {
   
   background-color: rgba(20, 33, 53, 0.960);
   border-radius: 3px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
   position: absolute;
   overflow: hidden;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); /* positioning the modal to the center */
   max-width: 100%;
   width: 40%;
   height: 60%;
   animation: modalOpen 1s ease;
   display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}



.modal-header {
    color: rgb(241, 160, 9);
    padding: 15px;
    text-align: center;
    margin-top: 15px;
    width: 70%;
    
}

.modal-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  
}



.modal-header p {
    color: #fff;
}

 .modal-content input{
    width: 100%;
}

.modal-content ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    transition: color 0.5s ease-in;
}

.modal-content ul li a:hover {
  color:rgb(241, 160, 9);
}

.modal-content #media-icons {
    display: flex;
    flex-direction: row;
    margin: 5px;
} 

.modal-content #media-icons li {
    margin: 5px;
}

#close.close-btn{
    background: none;
    border: none;
}

#close.close-btn i {
    background: transparent;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 5px;
    border: none;
    color: rgb(241, 160, 9);
    
}

.close-btn:focus {
    outline: none;
}


/* Setting form-control class for styling forms and inputs inside them (used in modal) */
.form-container {
    width: 100%;
}

.form-container form {
    width: 100%;
}

.form-container form div {
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
}

.form-control[type='submit']{
    width: 100%;
    font-style: normal;
    font-weight: bold;
    background-color: rgb(184, 135, 45);
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: text-shadow, background-color, transform 1s ease;
    letter-spacing: 3px;
    text-shadow: 0 0 10px rgb(241, 160, 9);
}

.form-control[type='submit']:hover{
    background-color: rgb(241, 160, 9);
    transform: scale(1.1);
    text-shadow: 0 0 5px rgb(184, 135, 45);
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(241, 160, 9);
}

/* Animations */
@keyframes modalOpen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Index page */
.container{
  width: 100vw;
  height: 100vh;
  margin: auto;
  text-align: center;
  background: url(./dist/img/winter-cabin-2.jpeg) no-repeat center center/cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.content-container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.content-container .content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content h1 {
color: rgb(241, 160, 9);  
margin-bottom: 1rem;
font-size: 3rem;
font-family: 'Fira Sans', sans-serif;
font-weight: bold;
}

.content h2 {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 7px;
  color: #fff;
  font-style: italic;
  font-family: 'Fira Sans', sans-serif;
  
}

.content a:focus {
  outline: none;
}

/* Setting footer styling */
footer p {
  text-align: right;
  color: #fff;
  opacity: 0.1;
  margin-right: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
