/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,800;1,200&display=swap');
/* font-family: 'Fira Sans', sans-serif; */
 

/* General styling */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  width: 100%;
  background: none;
}

body{
  width: 100vw;
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  overflow-x: hidden;
  background: none;
  background-color: rgba(20, 34, 53, 0.960);
  background-blend-mode: normal;
}

/* html, body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Fira Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

} */

ul {
    list-style-type: none;
    padding: 0;
}

a{
    text-decoration: none;
}

/* Btn class for buttons and links styled as buttons */
.btn {
    display: block;
    padding: 0.5rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    margin-top: 2rem;
    background-color: rgb(212, 155, 49);
    border: none;
    border-radius: 5px;
    transition: text-shadow, background-color, transform 1s ease;
    letter-spacing: 3px;
    width: 70%;
    height: 4%;
}

.btn:hover{
    background-color:  rgb(241, 160, 9);
    transform: scale(1.1);
    text-shadow: 0 0 5px rgb(184, 135, 45);
}

/* Dark colored headers */
.h-dark {
color: #1D293C;
}

/* Underline needed elements */
.underlined{
    border-bottom: solid 1.2px rgb(241, 160, 9);
    margin-top: 3px;
    width: 115%;
}


/* Navigation bar styling */
.nav-container{
    width: 100%;
    background: transparent;
    font-size: 1.2rem;
}

/* Separate social media icons and links */
.list-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

/* Group-one - links */
#group-one{
    margin: 1rem 0 0 2rem;
    display: flex;
    padding: 1rem;
}
/* Group-two - social media icons */
#group-two{
    margin: 1rem 2rem 0 0;
    display: flex;
    padding: 1rem;
}

#group-one li a, #group-two li a, #group-one li button{
    margin: 5px;
    color: #fff;
    transition: all 0.5s ease;
    position: relative;
}

/* Setting the line ::after (needed for underline animation) */
#group-one li a::after{
    content: '';
    display: block;
    width: 0;
    position: absolute;
    transition: width 0.5s ease;
}

/* Hovering ::after (needed for underline animation) */
#group-one li a:hover::after {
   border-bottom: solid 3px rgb(241, 160, 9);
    margin-top: 3px;
    width: 115%;
}


#group-two li a:hover{
    color: rgb(241, 160, 9);
}

#group-one li button {
    transition: all 1s ease;
    border: none;
    background: transparent;
    font-size: 16px;
    margin-bottom: 5px;
    translate: hover 1s ease;
}



#group-one li button:hover {
   transform: scale(1.2);
   color: rgb(241, 160, 9);
}

#group-one li button:focus {
outline: none;
}
.nav-container{
    width: 100%;
    background: transparent;
    font-size: 1.2rem;
}




/* Setting modal and it's styling */
.modal-container{
    display: none;  /* hide modal initially */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-container.show-modal {
    display:block;
}

.modal {
   
   background-color: rgba(20, 33, 53, 0.960);
   border-radius: 3px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
   position: absolute;
   overflow: hidden;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); /* positioning the modal to the center */
   max-width: 100%;
   width: 40%;
   height: 60%;
   animation: modalOpen 1s ease;
   display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}



.modal-header {
    color: rgb(241, 160, 9);
    padding: 15px;
    text-align: center;
    margin-top: 15px;
    width: 70%;
    
}

.modal-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  
}



.modal-header p {
    color: #fff;
}

 .modal-content input{
    width: 100%;
}

.modal-content ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    transition: color 0.5s ease-in;
}

.modal-content ul li a:hover {
  color:rgb(241, 160, 9);
}

.modal-content #media-icons {
    display: flex;
    flex-direction: row;
    margin: 5px;
} 

.modal-content #media-icons li {
    margin: 5px;
}

#close.close-btn{
    background: none;
    border: none;
}

#close.close-btn i {
    background: transparent;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 5px;
    border: none;
    color: rgb(241, 160, 9);
    
}

.close-btn:focus {
    outline: none;
}


/* Setting form-control class for styling forms and inputs inside them (used in modal) */
.form-container {
    width: 100%;
}

.form-container form {
    width: 100%;
}

.form-container form div {
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
}

.form-control[type='submit']{
    width: 100%;
    font-style: normal;
    font-weight: bold;
    background-color: rgb(184, 135, 45);
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: text-shadow, background-color, transform 1s ease;
    letter-spacing: 3px;
    text-shadow: 0 0 10px rgb(241, 160, 9);
}

.form-control[type='submit']:hover{
    background-color: rgb(241, 160, 9);
    transform: scale(1.1);
    text-shadow: 0 0 5px rgb(184, 135, 45);
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(241, 160, 9);
}

/* Animations */
@keyframes modalOpen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Index page */
.container{
  width: 100%;
  height: 100vh;
  margin: auto;
  text-align: center;
  background: url(./dist/img/winter-cabin-2.jpeg) no-repeat center center/cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.content-container {
  width: 100%;
  height: 90%;
  text-align: center;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.content-container .content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content h1 {
color: rgb(241, 160, 9);  
margin-bottom: 1rem;
font-size: 3rem;
font-family: 'Fira Sans', sans-serif;
font-weight: bold;
}

.content h2 {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 7px;
  color: #fff;
  font-style: italic;
  font-family: 'Fira Sans', sans-serif;
  
}

.content a:focus {
  outline: none;
}

/* Setting footer styling */
.container footer p {
  text-align: right;
  color: #fff;
  opacity: 0.1;
  margin-right: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}


/* About page */
.about-container {
  margin: auto;
  height: 100%;
  width: 100%;
  background: none;
  background-color: rgba(20, 33, 53, 0.960);
  background-blend-mode: normal;
  overflow-x: hidden;
}

.desc {
  margin: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.desc h1 {
  color: rgb(241, 160, 9);
  margin-bottom: 30px;
}

.desc div {
  width: 80%;
}

.desc div p {
  color: #fff;
  padding: 10px;
}

.gallery {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem 0.5rem 3rem 0;
  grid-gap: 5px;
  border-top: solid 1px rgb(241, 160, 9);
  border-bottom: solid 1px rgb(241, 160, 9);
  background: rgb(241, 160, 9);
  overflow: hidden;
}

.gallery div img {
  width: 100%;
  height: 100%;
  border: solid 2px rgb(241, 160, 9);
  transition: all 0.5s ease;
}

.gallery div img:hover{
  transform: scale(1.1);
}

.cards {
 display: grid;
 grid-template-columns: 4fr 4fr 4fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 20%;
  background-color: #1D293C;
}

.cards div {
  margin: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-top: solid 1px rgb(241, 160, 9);
  /* border-bottom: solid 1px rgb(241, 160, 9); */
}

.cards div i, .cards div h3 {
  color: rgb(241, 160, 9);
}


.about-container footer {
  margin-top: 10px;
  padding: 0.5rem;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: rgb(241, 160, 9);
  text-shadow: 0 0 10px rgb(94, 64, 10);
}

/* Book page */
.book-container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1D293C;
  overflow: auto; 
}

/* Card body */
.card {
  height: 85%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #f4f4f4 1px;
  background-color: #f4f4f4;
  box-shadow: 0 0 5px #F1A009;
  border-radius: 3px;
  margin: 20px;
}

/* Fixing button position */
.card .form-container form .btn{
  margin-left: 0;
  display: inline-block;
}

/* Form with dates selector */
.form-container {
  margin: 0, auto;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;

}

.form-container form {
  width: 100%;
  height: 100%;
}

.form-container form h3 {
  font-size: 2em;
  color: #F1A009;
  margin: 5px;
}

.form-container form label {
  color: #fff;
}

.dates-form-group {
  border-bottom: solid 1px #ddd;
}

.dates-form-group .inputs-flex {
  display: flex;
  justify-content: space-around;
}

.dates-form-group input{
  padding: 4px;
  font-family: 'Fira Sans', sans-serif;
  border: none;
  border-radius: 3px;
  margin: 20px 0 ;
}

.dates-form-group input:focus {
  outline: none;
  box-shadow: 0 0 10px #F1A009;
}


/* Selector */
.selector select:focus, .selector select option:focus {
  outline: none;
  box-shadow: 0 0 10px #1D293C;
}

.selector {
   background: url(/src/dist/img/cabin-forest-lake.jpeg) no-repeat center center/cover;
   background-color:  rgba(29, 41, 60, 0.6);
   background-blend-mode: darken;
   width: auto;
   height: 40%;
  
}

.selector h3{
  padding-top: 15px;
}

.selector select {
  width: 350px;
  padding: 5px;
  font-family: 'Fira Sans', sans-serif;
  color: #000;
  border: none;
  border-radius: 3px;
}


.selector select option {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

/* Dinamic selected div with selected house info */
#selected {
  height: 50%; 
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
}

#selected .description h4 {
  color: #d8d7d7;
  font-size: 20px;
  text-decoration: underline #F1A009;
  padding-top: 10px;
}

#selected .description ul {
text-align: start;
color: #d8d7d7;  
font-size: 18px;
margin-bottom: 0;
}

#selected .description .btn {
  margin-top: 10px;
  text-align: center;
  padding: 5px;
  letter-spacing: 1px;
  font-size: 16px;
  height: 20%;

}

#selector #options {
  width: 90%;
}

/* Summary of selected items: dates, house and prices */

.summary-container {
  background: #f4f4f4;
  color: #1D293C;
  /* width: 100%; */
  border-top: solid 1px #ddd;
  margin-top: 5px;
}

.summary-container h4{
 color: #F1A009; 
 font-size: 2em;
  margin: 0;
 padding-top: 10px;
}

.summary-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* WATCH STYLES HERE */
.summary-container ul li {
  /* text-align: left; */
  text-align: center;
}

.summary-container button .btn {
  margin: 0 !important; 
}

/* Disabled button styling */

form button[type="submit"]{
  margin-bottom: 20px;
}

form button[type="submit"]:disabled{
  transition: none;
}
form button[type="submit"]:disabled:hover{
  transform: none;
  background-color: rgb(212, 155, 49);
}



/* Footer */
.book-container footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 0.5rem;
  text-align: center;
  font-size: 14px;
  color: #F1A009;
 
}

/* Not found page */
.not-found-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #1D293C;
}

.not-found-container p {
  color: #fff;
}

.upper {
  text-transform: uppercase;
  padding: 10px;
  font-size: 200%;
}

.hyper-text {
  color: #F1A009;
  font-size: 600%;
}

.not-found-info{
  width: 40%;
  text-align: center;
}

@media(max-width: 1200px){

  /* Book page card */
  .card {
      width: 80%;
      height: 95%;
  }

 
}


@media(max-width: 1420px){
  /* Img gallery modal */
.img-modal-content .img-gallery img {
width: 100%;
height: 90%;   
padding: 40px;
}}

/* For mobile devises */

@media(max-width:541px){
  h1, h2 {
      font-size: 24px !important;
      letter-spacing: 5px;
  }

 .content h2 {
     font-size: 18px !important;
      text-transform: none;
  }

  h3, a {
      font-size: 16px;
  }

  p {
      font-size: 14px;
  }

  .desc div p {
      padding: 0;
  }

  #dates h3, #selector h3 ,.summary-container h4 {
      font-size: 24px;
  }

  #arrival, #departure {
      margin: 10px 0px
  }

  .house-description-item, .btn {
      font-size: 16px;
  }

  .list-group {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      
  }

  #group-one, #group-two {
      margin: auto;
   }

   #group-one {
       padding-bottom: 0;
   }

   .list-group {
       flex-direction: column;
       justify-content: center;
       text-align: center;
       
   }

  .modal {
      width: 80%;
  }
  

}

@media(max-width:361px){
  h1, h2 {
      font-size: 18px !important;
      letter-spacing: 5px;
  }

 .content h2 {
     font-size: 14px !important;
      text-transform: none;
  }

  h3, a {
      font-size: 12px;
  }

  p {
      font-size: 10px;
  }

  .desc div p {
      padding: 0;
  }

  #dates h3, #selector h3 ,.summary-container h4 {
      font-size: 16px;
  }

  #arrival, #departure {
      margin: 5px 0px
  }

  .house-description-item, .btn, #selected-more, .form-list-group-item {
      font-size: 12px !important;
  }

  #selected-more {
      margin-top: 5px !important;
  }

  .modal {
      width: 80%;
      height: 90%;
  }
  
  footer p{
      text-align: center;
      right: 10%;
  }

}